.icon-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 50%;
  }
  
  .icon-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
  }
  
  .icon-wrapper:hover::before {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 10) 0px 30px 90px;
   
  }
  